*{
    padding: 0%;
    margin: 0%;
}

:root{
    --primario : rgb(34, 34, 161) ;
    --dark: rgb(19, 19, 19) ;
}

header{
    width: 100%;
    padding: 10px 0px;
    background-color: var(--primario);
    display: flex;
    justify-content: space-around;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover{
    border-bottom: 3px solid rgb(220, 82, 32);
    color: rgb(220, 82, 32) ;
    transition: 0.3s;
}

body{
    overflow-x: hidden;
}

#banner{
    width: 100%;
    height: 100vh;
    background-image: url(../images/wallpaper.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
}

#efeito{
    width: 100%;
    height: 100px;
}

@keyframes personagem {
    0%{
        left: -50px;
    }
    50%{
        left: 50%;
    }
    100%{
        left: 120%; 
    }
}

#personagem{
    position: absolute;
    animation: personagem 4s infinite;
    left: -50px;
}

#sobreJogos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todosJogos{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.jogo{
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jogo img{
    width: 100%;
}