@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Edu+AU+VIC+WA+NT+Pre&family=Gamja+Flower&family=VT323&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: "Gamja Flower", sans-serif;
}

.cabeca{
    text-align: center;
    font-size: xx-large;
    background-color: rgb(152, 123, 93) ;
    color: white;
}

a {      
              
    font-size: xx-large;         
    color: brown;               
    text-decoration: none;       
    padding: 10px 20px;          
    box-sizing: border-box;      
}

#navba{
    background-color: wheat;
    gap: 30px;     
    width: 100%;   
    display: flex;
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

main h1{
    text-align: center;
}

main img{
    width: 700px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

p{
    text-align: center;
    margin: 50px 10px;
    font-size: x-large;
}